#container {
    display:grid;
    grid-template-rows:auto 0.1fr auto auto auto auto;
    grid-template-columns: 1.2fr 0.8fr;
    grid-row-gap: 15vw;
}

header{
    display: flex;
    justify-content: space-between;
}

header div{
    display:flex;
}

#hitta, #meny{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    justify-self: center;
}


.slideshow-container {
  grid-column: 1/-1;
  grid-row: 1/2;
}



#välkommen{
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    text-align: center;
}

img[alt="vår restaurant"]{
    grid-row: 2/3;
    grid-column: 2/-1;
}
#håll-avstånd{
    grid-row: 3/4;
    grid-column: 2/-1;
    text-align: center;
    align-self: center;
    margin-right: 5vw;
}
img[alt~="bord"]{
    grid-row:3/4;
    grid-column: 1/2;
    margin-left: 5vw;
}
#dagens{
    grid-row:4/5;
    grid-column:1/2;
    text-align: center;
}
img[alt="restaurantens kockar"]{
    grid-row: 4/5;
    grid-column: 2/-1;
}

img[alt="Bild på dagens lunch"]{
    grid-row: 5/6;
    grid-column: 1/2;
    margin-left: 5vw;
}

.om-oss{
    grid-row: 5/6;
    grid-column: 2/-1;
    text-align: center;
}

@media only screen and (max-width:850px) {
    body{
        display:grid;
        grid-template-rows:10vw;
        grid-template-columns: 100%;
    }


    .content{
        grid-row: 2/3;
        grid-column: 1/-1;
        align-self: center;
    }

/* Meny sidan */
#gridmeny{
  display:grid;
  grid-template-rows:auto 0.1fr auto auto auto auto;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 15vw;
}

.meny{
  grid-column: 1/2;
}

.pris{
  grid-column:2/3;
}

.antipasti{
  grid-row: 1/2;
}

.pasta{
  grid-row: 2/3;
}

.bildpizza{
  grid-row:3/4;
}

.bild1{
  grid-column:1/2;
}

.bild2{
  grid-column:2/3;
}

.pizza{
  grid-row:4/5;
}
