
#gridmeny{
    display:grid;
    grid-auto-rows: minmax(40px, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15vw;
}

.bildmat{
    grid-row:1/2;
    grid-column:1/-1;
}

.textpabild{
    grid-row: 1/2;
    grid-column: 1/-1;
}

.meny{
    grid-column: 1/2;
}

.pris{
    grid-column:2/3;
}

.antipasti{
    grid-row: 2/3;
}

#antipasti{
  grid-column:1/-1;
}

.pasta{
    grid-row: 4/5;
}

#pasta{
  grid-column:1/-1;
}

.bildpasta{
  grid-row:3/4;
}

.bildpizza{
    grid-row:5/6;
}

#pizza{
  grid-column:1/-1;
}

.bild1{
    grid-column:1/2;
}

.bild2{
    grid-column:2/3;
}

.pizza {
    grid-row: 6/7;
}
