*{
    margin:0;
}

header{
    background-color: black;
}

header a{
    color: black;
    background-color: darkorange;
    text-decoration: none;
    padding:10px;
    height:5vw;
    width: 5vw;
}
#logga{
    width:10vw ;
}

.bilder-bildspel {
  width:100%;
}

.bilder-bildspel {
  display:none;
}
.fade-animation{animation:fading 7s infinite}
@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
