*{
    margin:0;
}

header{
    background-color: black;
}

header a{
    color: black;
    background-color: darkorange;
    text-decoration: none;
    padding:10px;
    height:5vw;
    width: 5vw;
    text-align: center;
    justify-self: center;
}
#ett{
    justify-content: center;
}
header a p{
    text-align: center;
    justify-self: center;
}